.navbar {
  padding: 10px 10%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:target,
.navbar-toggler:hover {
  border: none;
  outline: none;
  box-shadow: none;
}

.white-burger {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

#brandName {
  letter-spacing: 8px;
}

.nav1 {
  background-color: transparent;
  transition: 0.5s;
  padding-top: 20px !important;
}

.nav2 {
  background-color: white;
  transition: 0.5s;
}

@keyframes borderFill {
  0% {
    background-size: 0 2px, 2px 0, 0 2px, 2px 0;
  }

  100% {
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  }
}

@keyframes borderEmpty {
  0% {
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  }

  100% {
    background-size: 0 3px, 3px 0, 0 3px, 3px 0;
  }
}

.borderIn {
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #19e3d6 100%, #19e3d6 100%),
    linear-gradient(to bottom, #19e3d6 100%, #19e3d6 100%),
    linear-gradient(to right, #19e3d6 100%, #19e3d6 100%),
    linear-gradient(to bottom, #19e3d6 100%, #19e3d6 100%);
  background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  animation: borderFill 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
}

.borderOut {
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #19e3d6 100%, #19e3d6 100%),
    linear-gradient(to bottom, #19e3d6 100%, #19e3d6 100%),
    linear-gradient(to right, #19e3d6 100%, #19e3d6 100%),
    linear-gradient(to bottom, #19e3d6 100%, #19e3d6 100%);
  background-size: 0% 2px, 2px 0%, 0% 2px, 2px 0%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  animation: borderEmpty 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
}
